.customerQuote,
.customerTestimony {
  display: flex;
  align-items: center;
  justify-content: center;
}
.customerQuote {
  display: flex;
  width: 1056px;
  height: 192px;
  flex-direction: column;
  justify-content: center;
}
.customerTestimony {
  position: relative;
  width: 100%;
  height: 663px;
  flex-direction: column;
  padding: 100px 5%;
  box-sizing: border-box;
  gap: 54px;
  margin: 0 auto;
}
.firstNameLast {
  margin: 0;
}
.customerName {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.customerNameTxtContainer {
  width: 100%;
  text-align: center;
}
.photoPlaceHolder {
  display: flex;
  width: 175px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

@media screen and (max-width: 768px) {
  .customerQuote {
    width: 90%;
    padding: 0 20px;
    box-sizing: border-box;
  }
  .customerTestimony {
    padding: 21px 3%;
    gap: 40px;
  }
}

@media screen and (max-width: 480px) {
  .customerQuote {
    width: 95%;
    padding: 0 10px;
    box-sizing: border-box;
  }
  .customerTestimony {
    padding: 21px 2%;
    gap: 30px;
  }
  .photoPlaceHolder {
    width: 140px;
    height: 133px;
  }
}

@media screen and (max-width: 356px) {
  .customerQuote {
    width: 98%;
    padding: 0 5px;
    box-sizing: border-box;
  }
  .customerTestimony {
    padding: 21px 1%;
    gap: 20px;
  }
  .photoPlaceHolder {
    width: 120px;
    height: 113px;
  }
}