.developmentContainer {
  width: 100%;
  position: relative;
  z-index: 2;
}

.communityDevelopmentWrapper {
  position: relative;
  z-index: 3;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index:3;
  padding-top: 10x;
}

.developmentTitle {
  font-family: (--font-itc-avant-garde-gothic-std);
  font-size: 40px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  padding-bottom:100px;
  letter-spacing: 0.01em;
  z-index:3;

}

.trayRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 90px;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto 48px auto;
  position: relative;
  z-index: 3;
}

.trayBoxLeft {
  display: flex;
  top: -260px; 
  justify-content: left;
  text-align: left;
  align-items: flex-start;
  position: relative;
  z-index: 2;
  padding: 0px 10px 0px 70px;
  min-width: 30%;
  bottom: 17vw;                  /* ← Position within image bounds */
  left: 2%;             /* ← Offset from left edge */
  
}

.trayBoxRight {
  display: flex;
   top: -260px; 
  justify-content: right;
  text-align: right;
  align-items: flex-start;
  position: relative;
  z-index: 2;
  padding: 0px 100px 10px 90px;
  min-width: 30%;
  bottom: 17vw;                  /* ← Position within image bounds */
  right: 5%; 
}


.communityBoxLeft {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  object-fit: cover;
}

.communityBoxRight {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  object-fit: cover;
}

  .communityBoxLeft,
  .communityBoxRight {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    object-fit: contain;  /* ← Change from cover to contain */
    max-width: 420px;     /* ← Constrain to original image size */
    max-height: 320px;    /* ← Constrain to original image size */
  
  }


.developmentSection {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: -70px;
   
}

.developmentSection {
  width: 100%;
  height: 900px;
  align-items: center;
  padding: 92px 67px;
  box-sizing: border-box;
}


@media screen and (max-width: 750px) {
  .developmentSection {
    height: auto;
    min-height: 600px;
    margin-bottom: 100px !important;
  }
  
  .trayRow {
    flex-direction: column;
    align-items: center;
    gap: 40px;
    max-width: 500px;
  }
  
  .trayBoxLeft {
    text-align: left;
    left: 0;
    padding: 20px 40px;
     left: 10%; 
  }
  
  .trayBoxRight {
    text-align: right;
    right: 0;
    padding: 20px 40px;
     right: 10%; 
  }
}

@media screen and (max-width: 480px) {
  .developmentSection {
    height: auto;
    min-height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px 120px 20px;
    margin-bottom: 150px;
  }
  
  .communityDevelopmentWrapper {
    order: 1;
    margin-bottom: 60px;
  }
  
  .trayRow {
    order: 2;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    max-width: 100%;
    padding-bottom: 100px;
    margin: 0 auto;
  }
  
  .trayBoxLeft {
    position: relative;
    left: 0;
    text-align: center;
    padding: 30px 20px;
    width: 90%;
    max-width: 400px;
  }
  
  .trayBoxRight {
    position: relative;
    right: 0;
    text-align: center;
    padding: 30px 20px;
    width: 90%;
    max-width: 400px;
  }
}


