.connectDesc {
  align-self: center;
  position: center;
  text-align: center;
  white-space: pre-wrap;
  height: 1px;
  margin-top: 300px;
}

.learnButtonSimpleChild {
  position: absolute;
  height: 23.5%;
  top: 99.22%;
  bottom: -22.72%;
  left: calc(50% - 50px);
  max-height: 100%;
  width: 100px;
}
.learnButtonSimple {
  width: 160px;
  height: 120px;
  position: relative;

}
.connectDescParent,
.learnSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.connectDescParent {
  align-self: stretch;
  gap: 1px;
}
.learnSection {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 667px;
  z-index: 10;
  padding: 20px;
  box-sizing: border-box;
  font-size: 20px;
}

.learn {
  width: 100%;
  position: relative;
  padding-bottom: 10%; /* Maintain aspect ratio */
}

.learnContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 37px;
  width: 100%;
  padding: 40px 20px;
}

.ctaCard {
  width: 403px;
  height: felx;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.ctaDescription {
  font-family: var(--font-itc-avant-garde-gothic-std);
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  color: var(--color-white);
  width: 403px;
  white-space: pre-wrap;
  margin-bottom: 92px; /* Space between text and button */
  margin-top: 200px;
}

.ctaButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  position: absolute;
  bottom: 0;
  cursor: pointer;
}

.ctaButtonText {
  font-family: var(--font-itc-avant-garde-gothic-std);
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  color: var(--color-white);
  white-space: nowrap;
}

.ctaButtonText:hover {
  opacity: 0.8;
}

.ctaUnderline {
  width: 100px;
  height: 1.5px;
  background-color: #D2FFE7;
  filter: blur(1px);
}

/* Responsive Styles */
@media screen and (max-width: 1300px) {
  .learnContainer {
    flex-direction: column;
    gap: 40px;
  }
}

@media screen and (max-width: 768px) {
  .ctaCard {
    width: 90%;
    max-width: 400px;
  }
  
  .ctaDescription {
    font-size: 24px;
    width: 100%;
  }
  
  .ctaButtonText {
    font-size: 24px;
  }
}

@media screen and (max-width: 480px) {
  .ctaDescription {
    font-size: 20px;
  }
  
  .ctaButtonText {
    font-size: 20px;
  }
  
  .ctaUnderline {
    width: 80px;
  }
}

@media screen and (max-width: 768px) {
  .learnSection {
    width: 90%;
    padding: 15px;
    font: 20px;
  }
  .connectDesc {
    font-size: 20px;
    padding: 0 10px;
  }
  .learnButtonSimple {
    width: 140px;
    height: 100px;
  }
}

@media screen and (max-width: 480px) {
  .learnSection {
    width: 95%;
    padding: 10px;
  }
  .connectDesc {
    font-size: 20px;
    padding: 0 5px;
  }
  .learnButtonSimple {
    width: 120px;
    height: 80px;
  }
  .learnButtonSimpleChild {
    width: 80px;
    left: calc(50% - 40px);
  }
}

@media screen and (max-width: 356px) {
  .learnSection {
    width: 98%;
    padding: 5px;
  }
  .connectDesc {
    font-size: 20px;
    padding: 0 3px;
  }
  .learnButtonSimple {
    width: 100px;
    height: 60px;
  }
  .learnButtonSimpleChild {
    width: 60px;
    left: calc(50% - 30px);
  }
}

