.nyxcSupporterNetwork {
  position: absolute;
  left:45vw;
  transform: translateX(-50%);
   /*font-size:  var(--font-size-50);*/
  font-size: 40px;
  padding: 20px 100px;
  box-sizing: border-box;
  text-align: flex-start;
  display: felx;
  justify-content: center;
  align-items: center;
  width: 700px;
  z-index: 3;
  max-width: 100%;          /* ← Limit width to allow wrapping */
  white-space: normal;     /* ← Allow text to wrap */
  word-wrap: break-word;   /* ← Break long words if needed */
  overflow-wrap: break-word;
  flex-direction: column;
  line-height: normal;
  margin-bottom: 1px; 
}

/*.logoTray {
  margin: 0 !important;
  z-index: 0;
  background-image: url('/nyxccc-img/Logo Tray.png');
  background-size: contain;  /* Changed from fit-content to contain *
  background-position: center;
  background-repeat: no-repeat;
  width: 115%;  /*  1600px; Wider than logosInTray (1300px) *
  height: 200px;
  position: absolute;
  left:500px;
  transform: translateX(-50%);  /* Center within supporterWrapper *
  top: 200px;
}
removed because annoying and not dynamic */

/* Background tray container */
.logosInTray {
  height: 600;  /* more space before borrower section */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  width: 1300px;  
  max-width: 100%;
}

/* Inner content wrapper - logos and title */
.supporterWrapper {
  width: 1500px;  /* Wider than logosInTray to contain tray */
  max-width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  margin: 0 auto;  /*  Center the wrapper */
}




/* Top Row - Left: Watson */
.watsonLogo {
  position: absolute;
  width: 186px;
  height: 47px;
  left: 44px;
  top: 204.5px;
  object-fit: contain;
  z-index: 1;
}

/* Top Row - Center: BMO */
.bmoLogo {
  position: absolute;
  width: 205px;
  height: 74px;
  left: 465px;
  top: 183.5px;
  object-fit: contain;
  z-index: 1;
}

/* Top Row - Right: Conservation X Labs */
.xlabsLogo {
  position: absolute;
  width: 399px;
  height: 100px;
  left: 788px;
  top: 178px;
  object-fit: cover;
  z-index: 1;
}

/* Bottom Row - Left: Scroobious */
.scroobiousLogo {
  position: absolute;
  width: 246px;
  height: 32px;
  left: 230px;
  top: 289.5px;
  object-fit: cover;
  z-index: 1;
}

/* Bottom Row - Center: StartOut */
.startoutLogo {
  position: absolute;
  width: 227px;
  height: 56px;
  left: 647px;
  top: 289.5px;
  object-fit: cover;
  z-index: 1;
}

/* Bottom Row - Right: CVWBC */
.cvwbcLogo {
  position: absolute;
  width: 103px;
  height: 55px;
  left: 1158px;
  top: 290px;
  object-fit: cover;
  z-index: 1;
}

/* Outter Container */
.partnerLogos {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--color-white);
  font-family: var(--font-itc-avant-garde-gothic-std);
  padding: 100px 10px 100px 10px; 
}


/* Responsive Design */

/* Responsive adjustments */
@media screen and (max-width: 1440px) {
  .partnerLogos1 {
    padding: 100px 20px;
  }
}

  
  .supporterNetork {
    width: 100%;
  }



@media screen and (max-width: 1200px) {
  .nyxcSupporterNetwork {
    font-size: 48px;
    margin-bottom: 50px;
  }
  
  .logosInTray {
    width: 100%;
    height: 300px;
    transform: scale(0.8);
  }
}

@media screen and (max-width: 900px) {
  .nyxcSupporterNetwork {
    font-size: 36px;
    margin-bottom: 40px;
  }
  
  .logosInTray {
    transform: scale(0.65);
    height: 250px;
  }
}

@media screen and (max-width: 600px) {
  .nyxcSupporterNetwork {
    font-size: 28px;
    margin-bottom: 30px;
  }
  
  .logosInTray {
    transform: scale(0.5);
    height: 200px;
  }
}

@media screen and (max-width: 400px) {
  .nyxcSupporterNetwork {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .logosInTray {
    transform: scale(0.4);
    height: 150px;
  }
}

@media screen and (max-width: 1200px) {
  .logoTray {
    background-size: 80%;
  }
  
  .watsonLogoIcon {
    width: 140px;
    height: 35px;
  }
  
  .bankOfMontrealLogo1Icon {
    width: 140px;
  }
  
  .logosInTray {
    gap: 12vw;
    padding: var(--padding-36) 8vw;
  }

    .nyxcSupporterNetwork {
    padding: 15px 20px;
    font-size: var(--font-size-25);
  }
}

@media screen and (max-width: 900px) {
  
  .nyxcSupporterNetwork {
    text-align:center
  }
  
  .logoTray {
    background-size: 70%;
  }
  
  .watsonLogoIcon {
    width: 120px;
    height: 30px;
  }
  
  .bankOfMontrealLogo1Icon {
    width: 120px;
    height: 30px;
  }
  
  .logosInTray {
    gap: 10vw;
    padding: var(--padding-36) 6vw;
  }

    .nyxcSupporterNetwork {
    padding: 15px 20px;
    font-size: var(--font-size-25);
  }
}

@media screen and (max-width: 600px) {
  .logoTray {
    background-size: 60%;
  }
  
  .watsonLogoIcon {
    width: 100px;
    height: 25px;
  }
  
  .bankOfMontrealLogo1Icon {
    width: 100px;
  }
  
  .logosInTray {
    gap: 8vw;
    padding: var(--padding-36) 4vw;
  }

    .nyxcSupporterNetwork {
    padding: 15px 20px;
    font-size: var(--font-size-25);
  }
}

@media screen and (max-width: 400px) {
  .logoTray {
    background-size: 50%;
  }
  
  .watsonLogoIcon {
    width: 80px;
    height: 20px;
  }
  
  .bankOfMontrealLogo1Icon {
    width: 80px;
  }
  
  .logosInTray {
    gap: 6vw;
    padding: var(--padding-36) 2vw;
  }

    .nyxcSupporterNetwork {
    padding: 15px 20px;
    font-size: var(--font-size-25);
  }
}


