
@font-face {
  font-family: "ITC Avant Garde Gothic Std";
  src: url("/fonts/ITCAvantGardeStdBk.otf");
  font-weight: 400;
}


html, body {
  margin: 0;
  padding: 0;
  line-height: normal;
  height: 100%;
}
:root {
  /* Color */
  --color-gainsboro: #d9d9d9;
  --color-honeydew-200: rgba(210, 255, 231, 0.8);
  --color-honeydew-100: #d2ffe7;
  --color-wheat-300: rgba(238, 215, 179, 0);
  --color-wheat-200: rgba(238, 215, 179, 0.02);
  --color-wheat-100: #eed7b3;
  --color-white: #fff;
  --color-gray: #090012;

  /* Gap */
  --gap-10: 10px;

  /* Padding */
  --padding-3: 3px;
  --padding-10: 10px;
  --padding-30: 30px;
  --padding-60: 60px;

  /* BorderRadius */
  --br-10: 10px;
  --br-20: 20px;
  --br-80: 80px;

  /* Font */
  --font-itc-avant-garde-gothic-std: ITC Avant Garde Gothic Std;

  /* FontSize */
  --font-size-14: 14px;
  --font-size-15: 15px;
  --font-size-20: 20px;
  --font-size-30: 30px;
  --font-size-60: 60px;
}
